{{- $fullName := include "deploy.fullname" . -}}
{{- $ddmonitors := .Values.datadogMonitors -}}

{{- $warningnotiftarget := printf "@slack-team-%s-notifications" $.Values.team -}}
{{- $alertnotiftarget := printf "@pagerduty-%s" $.Values.team  -}}

{{- range $monitortype := $ddmonitors }}
{{- if eq $monitortype.type "trace.akka_http.request-p99" }}

apiVersion: datadoghq.com/v1alpha1
kind: DatadogMonitor
metadata:
  {{- if $monitortype.name }}
  name: {{ $fullName }}-p99responsetime-{{ $monitortype.name }}
  {{- else }}
  name: {{ $fullName }}-p99responsetime
  {{- end }}
  namespace: datadog
spec:
  options:
    notifyAudit: true
    renotifyInterval: 1440
    thresholds:
      {{- if $monitortype.warning }}
      warning: "{{ default "0.8" $monitortype.warning.threshold }}"
      {{- else }}
      warning: "0.8"
      {{- end }}
      {{- if $monitortype.alert }}
      critical: "{{ default "1" $monitortype.alert.threshold }}"
      {{- else }}
      critical: "1"
      {{- end }}
  query: >
    {{ default "min" $monitortype.monitorMainOperator }}(
      {{ default "last_5m" $monitortype.interval }}
    ):default_zero(
      p99:trace.akka_http.request{
        env:live AND
        service:{{ $fullName }}
        {{- if $monitortype.filters }}
          AND ({{ $monitortype.filters }})
        {{- end }}
      }
    ) > {{- if $monitortype.alert }}
      {{ default "1" $monitortype.alert.threshold }}
    {{- else }}
      1
    {{- end }}
  type: "query alert"
  name: "[generated] Service {{ $fullName }} {{ default "" $monitortype.name }} has a high 99th percentile latency on env:live"
  message: |
    {{ $fullName }} {{ default "" $monitortype.name }} 99th percentile latency is too high.

    Comment: {{ default "\n" $monitortype.comment }}
    High latency / p99 response time runboook https://www.notion.so/flow/Alert-High-latency-p95-response-time-7fcb6e4bd13242129fd06bafecf84b48

    {{- if $monitortype.warning }}
    {{ default $warningnotiftarget $monitortype.warning.notificationTarget }}
    {{- else }}
    {{ $warningnotiftarget }}
    {{- end }}

    {{ "{{" }}#is_alert{{ "}}" }}
      {{- if $monitortype.alert }}
      {{ default $alertnotiftarget $monitortype.alert.notificationTarget }}
      {{- else }}
      {{ $alertnotiftarget }}
      {{- end }}
    {{ "{{" }}/is_alert{{ "}}" }}

    {{ "{{" }}#is_alert_recovery{{ "}}" }}
      {{- if $monitortype.alert }}
      {{ default $alertnotiftarget $monitortype.alert.notificationTarget }}
      {{- else }}
      {{ $alertnotiftarget }}
      {{- end }}
    {{ "{{" }}/is_alert_recovery{{ "}}" }}

  tags:
    - "service:{{ $fullName }}"
    - "env:live"
    - "team:{{ $.Values.team }}"

---

{{- end }}
{{- end }}
