{{- $fullName := include "deploy.fullname" . -}}
{{- $ddmonitors := .Values.datadogMonitors -}}

{{- $warningnotiftarget := printf "@slack-team-%s-notifications" $.Values.team -}}
{{- $alertnotiftarget := printf "@pagerduty-%s" $.Values.team  -}}

{{- range $monitortype := $ddmonitors }}
{{- if eq $monitortype.type "custom-query" }}

apiVersion: datadoghq.com/v1alpha1
kind: DatadogMonitor
metadata:
  {{- if $monitortype.name }}
  name: {{ $fullName }}-customquery-{{ $monitortype.name }}
  {{- else }}
  name: {{ $fullName }}-customquery
  {{- end }}
  namespace: datadog
spec:
  options:
    notifyAudit: true
    thresholds:
      {{- if $monitortype.warning }}{{- if $monitortype.warning.threshold }}
      warning: "{{ $monitortype.warning.threshold }}"
      {{- end }}{{- end }}
      {{- if $monitortype.alert }}{{- if $monitortype.alert.threshold }}
      critical: "{{ $monitortype.alert.threshold }}"
      {{- end }}{{- end }}
    {{- if $monitortype.newGroupDelay }}
    newGroupDelay: {{ $monitortype.newGroupDelay }}
    {{- end }}
  query: {{ $monitortype.query }}
  type: "query alert"
  name: "[generated] Service {{ $fullName }} {{ default "" $monitortype.name }} custom query monitor for env:live"
  message: |
    {{ $fullName }} {{ default "" $monitortype.name }} custom query monitor.

    Comment: {{ default "\n" $monitortype.comment }}
    
    {{- if $monitortype.warning }}
    {{ default $warningnotiftarget $monitortype.warning.notificationTarget }}
    {{- else }}
    {{ $warningnotiftarget }}
    {{- end }}

    {{ "{{" }}#is_alert{{ "}}" }}
      {{- if $monitortype.alert }}
      {{ default $alertnotiftarget $monitortype.alert.notificationTarget }}
      {{- else }}
      {{ $alertnotiftarget }}
      {{- end }}
    {{ "{{" }}/is_alert{{ "}}" }}
          
    {{ "{{" }}#is_alert_recovery{{ "}}" }}
      {{- if $monitortype.alert }}
      {{ default $alertnotiftarget $monitortype.alert.notificationTarget }}
      {{- else }}
      {{ $alertnotiftarget }}
      {{- end }}
    {{ "{{" }}/is_alert_recovery{{ "}}" }}

  tags:
    - "service:{{ $fullName }}"
    - "env:live"
    - "team:{{ $.Values.team }}"

---

{{- end }}
{{- end }}
