{{- $fullName := include "deploy.fullname" . -}}
{{- range $stage, $deployment := index .Values "deployments" }}
{{- if $.Values.rollout.enabled }}
{{- if eq $stage "live"}}

apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ $fullName }}-live
  annotations:
    notifications.argoproj.io/subscribe.on-rollout-completed.slack: {{ $.Values.rollout.notificationChannel }}
    notifications.argoproj.io/subscribe.on-rollout-aborted.slack: {{ $.Values.rollout.notificationChannel }}
    notifications.argoproj.io/subscribe.on-analysis-run-failed.slack: {{ $.Values.rollout.notificationChannel }}

spec:
  replicas: {{ $deployment.minReplicas }}
   # Reference an existing Deployment using workloadRef field
  workloadRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ $fullName }}-live
  strategy:
    {{- if eq $.Values.rollout.strategy "canary" }}
    canary:
      maxSurge: {{ $deployment.maxSurge }}
      maxUnavailable: {{ $deployment.maxUnavailable }}
       # If the steps field is omitted, the canary strategy will mimic the rolling update behavior
      steps:
{{ toYaml $.Values.rollout.steps | indent 12 }}
      analysis:
        templates:
        - templateName: {{ $fullName }}-rollout-analysis
        {{ if $.Values.rollout.jobAnalysis }}
        - templateName: {{ $fullName }}-rollout-job-analysis
        {{- end }}
        # This is to begin the analysis from the specified step.
        startingStep: {{ $.Values.rollout.analysisStartingStep }}
      # dynamically scale the stable/live ReplicaSet according to traffic weight
      dynamicStableScale: {{ default false $.Values.rollout.enableDynamicScale }}
      trafficRouting:
        istio:
          destinationRule:
            canarySubsetName: canary
            name: {{ $fullName }}-rollout-live
            stableSubsetName: live
          virtualService:
            name: {{ $fullName }}-rollout-live
            {{- if $.Values.service.httpsPort }}
            tlsRoutes:
            - port: 443
              sniHosts:
              - "*"
            {{ else }}
            routes:
            - primary
            {{- end }}
    {{- end }}

  revisionHistoryLimit: {{ $.Values.rollout.revisionHistoryLimit }}
  progressDeadlineSeconds: {{ $.Values.rollout.progressDeadlineSeconds }}

  # Whether to abort the update when ProgressDeadlineSeconds
  # is exceeded if analysis or experiment is not used.
  # Optional and default is false.
  progressDeadlineAbort: {{ $.Values.rollout.progressDeadlineAbort }}

{{- end }}
{{- end }}

{{- end }}
