{{- $fullName := include "deploy.fullname" . -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ default $fullName $.Values.service.nameOverride }}
  labels:
    helm.sh/chart: {{ include "deploy.chart" $ }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
    app.kubernetes.io/name: {{ include "deploy.name" $ }}
    app: {{ include "deploy.name" $ }}
spec:
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
    {{- if $.Values.service.httpsPort }}
    - port: 443
      targetPort: https
      protocol: TCP
      name: https
    {{- end }}
  selector:
    app.kubernetes.io/name: {{ include "deploy.name" $ }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
