nameOverride: "slackin"
fullnameOverride: "slackin"

team: foundation

image:
  repository: flowcommerce/slackin

service:
  healthcheckEndpoint: /data
  port: 3000

resources:
  limits:
    memory: "3400Mi"
    cpu: 1
  requests:
    memory: "3400Mi"
    cpu: .05

jvmOpts:
  enabled: false

istio:
  alb: true

istioIngress:
  enabled: true
  gateways:
    - key: slack-apibuilder-io
      tld: apibuilder.io
      selector: ingressgateway-apibuilder-io
      dns: true
      hosts:
        - slack.apibuilder.io

istioService:
  live:
    hosts:
      - slackin
      - slack.apibuilder.io
    gateways:
      - mesh
      - slack-apibuilder-io
    stages:
      - deployment: live
        weight: 100

deployments:
  live:
    minReplicas: 1
    maxReplicas: 1
    maxUnavailable: 1
    serviceAccountName: "flow-prod-eks-apicollective-slackin-sa"
    serviceAccountIamRole: "arn:aws:iam::479720515435:role/flow-prod-eks-apicollective-role"

nodeSelector:
  karpenter/role: workers
  kubernetes.io/arch: amd64
tolerations:
  - key: "role"
    operator: "Equal"
    value: "workers"
    effect: "NoSchedule"

rolloutResource:
  enabled: false

canary:
  enabled: false
